<%- include('partials/header', { isAdmin: false, hideLogin: true }) %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title mb-3">You have been logged out</h4>
        <p class="mb-4">Thank you for using the East Coast Railway system.</p>
        <a href="/" class="btn btn-primary mr-2">Home</a>
        <a href="/login" class="btn btn-success">Login</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
